$primary: #2979ff;
$primary-light: #ecf5ff;
$primary-disabled: #a0cfff;
$primary-dark: #2b85e4;

$warning: #ff9900;
$warning-disabled: #fcbd71;
$warning-dark: #f29100;
$warning-light: #fdf6ec;

$success: #19be6b;
$success-disabled: #71d5a1;
$success-dark: #18b566;
$success-light: #dbf1e1;

$error: #fa3534;
$error-disabled: #fab6b6;
$error-dark: #dd6161;
$error-light: #fef0f0;

$info: #909399;
$info-disabled: #c8c9cc;
$info-dark: #82848a;
$info-light: #f4f4f5;

$main-color: #303133;
$content-color: #606266;
$tips-color: #909399;
$light-color: #c0c4cc;
$white-color:#fff;

$border-color-lv1:#dcdfe6;
$border-color-lv2:#e4e7ed;
$border-color-lv3:#ebeef5;
$border-color-lv4:#f2f6fc;
$border-color-default:$border-color-lv3;
